*.o
__pycache__
build/
.cache
test/ligands
test/results
.vscode
.idea
unidock/build/
unidock/example/screening_test/indata
unidock/example/screening_test/result
unidock/example/screening_test/def_ligands.txt
unidock/example/screening_test/rundock.sh
unidock/example/screening_test/unidock
unidock_tools/dist
unidock_tools/dist/*
unidock_tools/unidock_tools.egg-info
unidock_tools/unidock_tools.egg-info/*
