*.o
__pycache__
build/
.cache
test/ligands
test/results
.vscode
.idea
unidock/build/
unidock/example/screening_test/indata
unidock/example/screening_test/result
unidock/example/screening_test/def_ligands.txt
unidock/example/screening_test/rundock.sh
unidock/example/screening_test/unidock
unidock/example/screening_test/fail_result
unidock/example/screening_test/receptor_grids
unidock/example/screening_test/unidock_root
unidock/example/screening_test/astex
unidock/example/screening_test/astex_cleaned
unidock/example/screening_test/CASF2016
unidock/example/screening_test/casf2016_ligand_sdf
unidock/example/screening_test/posebuster
unidock/example/screening_test/posebuster_ligand_sdf
unidock/example/screening_test/astex_ligand_sdf
unidock_tools/dist
unidock_tools/dist/*
*.egg-info
*_log.txt