name: Uni-Dock CI/CD
on:
  push:
    branches:
      - '**ci**'
  pull_request:
    branches:
      - main

jobs:
  unidock_test:
    runs-on: nvidia
    container:
      image: nvidia/cuda:12.2.0-devel-ubuntu22.04
      options: --gpus all
    steps:
    - name: checkout repo
      uses: actions/checkout@v4

    - name: install basic packages
      run: |
        apt-get update
        apt-get install -y build-essential cmake libboost-all-dev ninja-build git

    - if: ${{ env.ACT }}
      name: Hack container for local development
      run: |
        apt-get install -y curl sudo
        curl -fsSL https://deb.nodesource.com/setup_18.x | bash -
        sudo apt-get install -y nodejs

    - name: build
      run: |
        cd unidock
        mkdir build
        cd build
        cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Release
        cmake --build .
        cmake --install .
        cd ../..

    - name: validation
      run: |
        nvidia-smi
        unidock --version

    - name: Set up Python
      uses: actions/setup-python@v5

    - name: perform unit-test
      run: |
        python -m pip install --upgrade pip
        pip install pytest>=8.0.0 pytest-cov
        pytest unidock/test/ut -vv --doctest-modules --junitxml=junit/test-results.xml --cov --cov-report term
